// Colors.
$black: #454545;
$white: #fff;

// Define new variables.
$bg-main: #fbf7ec;
$bg-page: #48433e;

// Links.
$link-bg: none;
$link-hover-bg: none;
$link-fg-color: #be0303;
$link-hover-fg-color: #f28b00;

// Headings.
$heading-fg-color: #881414;

// Glossary.
$glossary-bg-color: #4a351a;
$glossary-link-fg-color: #e4b116;

// Navbar.
$navbar: #d7d4cd;
