/** Setting margins */
@page { margin: 2cm 1cm }

body {
  &:not(.path-frontpage) {
    h1:before {
      content: "The New Brunswick Literary Encyclopedia";
      display: block;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .text-dark {
    background: none;
    color: #000;
  }
}

/* Hide admin regions */
#toolbar,
.tabs,
.shortcut-action {
  display: none;
}

/* https://getbootstrap.com/docs/4.4/getting-started/browsers-devices/#printing */
.container {
  width: auto;
}
.page-content-wrapper {
  max-width: 100%;
}

main {
  color: #000;
  background: none;
  width: 100%;
  margin: 0;
  float: none;

  .col-sm-9 {
    padding: 0!important;
    max-width: 100%;
  }

  article {
    a:not([role="button"]),
    .view a:not([role="button"]) {
      border-bottom: none!important;
      color: #000;
      text-decoration: underline;
    }

    blockquote {
      page-break-inside: avoid;
      break-inside: avoid;
      border-top: none;
      border-bottom: none;
      border-right: none;
    }

    div {
      &.border {
        border: none!important;
      }
    }
  }
}

h2, h3, h4 {
  margin-top: 2.5rem;
  page-break-inside: avoid;

  /* Print hack for Chrome/Mozilla: page-break-after:avoid */
  &::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }
}

p {
  page-break-inside: avoid;
}

footer {
  background: none;

  .container {
    border-color: #000;
  }

  div.text-center {
    a {
      color: #000;
      text-decoration: none;

      &:before {
        content: "UNB Libraries";
      }

      img {
        display: none;
      }
    }

    span {
      color: #000;
    }
  }
}
