/* ---------- General Layout ---------- */

/** Setting margins */
@page { margin: 2cm 1cm }

body {
  &:not(.path-frontpage) {
    h1:before {
      content: "The New Brunswick Literacy Encyclopedia";
      display: block;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .text-dark {
    background: none;
    color: #000;
  }
}

/* Hide admin regions */
#toolbar,
.tabs,
.shortcut-action {
  display: none;
}

main {
  color: #000;
  background: none;
  width: 100%;
  margin: 0;
  float: none;

  .col-sm-9 {
    padding: 0!important;
    max-width: 100%;
  }

  article {
    a:not([role="button"]),
    .view a:not([role="button"]) {
      border-bottom: none!important;
      color: #000;
      text-decoration: none;

      &[href]:after {
        content: "(" attr(href) ")";
        font-size: x-small;
        margin-left: .5em;
        text-decoration: underline;
      }
    }

    blockquote {
      page-break-inside: avoid;
      break-inside: avoid;
      border-top: none;
      border-bottom: none;
      border-right: none;
    }

    div {
      &.border {
        border: none!important;
      }
    }
  }
}

h2, h3, h4 {
  margin-top: 2.5rem;
  page-break-after: avoid;
  break-after: avoid-page;
}

p {
  page-break-inside: avoid;
}

footer {
  background: none;

  .container {
    border-color: #000;
  }

  div.text-center {
    a {
      color: #000;
      text-decoration: none;

      &:before {
        content: "UNB Libraries";
      }

      img {
        display: none;
      }
    }

    span {
      color: #000;
    }
  }
}
