// Include custom sub theme.
@import 'import';

body {
  background: $bg-page;
  color: $black;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

// Path to default bootstrap4 theme sass.
@import '../../../../../vendor/drupal/bootstrap4/scss/theme';

// Include custom sub theme.
@import 'custom/variables';
