// Include custom sub theme.
@import 'import';

a {
  overflow-wrap: break-word;
  word-wrap: break-word;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.12rem rgba(0, 123, 255, 0.5);
  }
}

blockquote {
  border-left: 2px solid #bfae9a;
  margin-left: 1.7rem;
  padding-left: .8rem;
}

body {
  background: $bg-page;
  color: $black;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: $heading-fg-color;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 1px #baaba0;
}
h1, .h1 {
  font-size: 1.95rem;
}
h2, .h2 {
  font-size: 1.4rem;
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }

  &.text-transform-none {
    text-transform: none;
  }
}
h3, .h3 {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}
h4, .h4 {
  font-size: 1rem;
}

p + h2 {
  margin-top: 3rem;
}

u {
  color: #111;
  font-weight: bold;
  text-decoration: none;
}

/* Template Regions */
header {
  margin-top: $margin-length;

  & > .container {
    border-top: 11px groove #b56327;
  }

  .navbar {
    background-image: linear-gradient(to bottom, #b56327, #ba6b2b, #c07430, #c57c35, #ca853a, #ca853a, #ca853a, #ca853a, #c57c35, #c07430, #ba6b2b, #b56327);
    border-bottom: 3px ridge $navbar;
    border-top: 3px ridge $navbar;

    a {
      font-weight: bold;
      letter-spacing: 1px;
      text-shadow: 0 0 1px $black;
      text-transform: uppercase;
    }

    .navbar-nav {
      a.nav-link {
        color: rgba(0, 0, 0, 0.7);
        transition: all $transition-duration $transition-timing;

        &:focus,
        &:hover,
        &.active {
          background: none;
          color: $white;
          text-shadow: 0 0 2px #a9a9a9;
        }
        &.active {
          cursor: default;
        }
      }

      @media (min-width: 1200px) {
        .nav-link {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }

    .navbar-toggler {
      text-shadow: 0 0 1px $black;
    }
  }
}

main {
  .block-system-main-block article,
  .block-system-main-block .view {
    a:not([role="button"]) {
        background: $link-bg;
        border-bottom: 1px dotted $link-fg-color;
        box-shadow: none;
        color: $link-fg-color;
        transition: all $transition-duration $transition-timing;

      &:focus,
      &:hover,
      &:active {
        background: $link-hover-bg;
        border-color: transparent;/*1px solid $link-hover-fg-color;*/
        color: $link-hover-fg-color;
        box-shadow: 0 1px 0 0 $link-hover-fg-color;
      }
    }

    .contextual-links {
      a,
      a:hover {
        background: inherit;
        border: none;
        color: inherit;
      }
    }
  }

  .page-content-wrapper {
    background: $bg-main;
  }

  .page-title {
    margin-bottom: $margin-length;
  }

  .sidebar-first-wrapper {
    background: #f4c99c url(../../images/bg-sidebar.jpg) repeat-y;
    background-size: 100% auto;

    .region-sidebar-first {
      position: -webkit-sticky;
      position: sticky;
      top: 3rem;
    }

    @media (max-width: 575px) {
      .abc-overlay {
        display: none;
      }
    }
  }
}

footer {
  line-height: 1.15rem;
  margin-bottom: $margin-length;

  a {
    border-bottom: 1px solid transparent;
    color: $white;
    transition: all $transition-duration $transition-timing;

    &:focus,
    &:hover {
      background: none;
      border-bottom: 1px solid $white;
      color: $white;
    }
  }

  .container {
    background-image: linear-gradient(to bottom, #b56327, #ba6b2b, #c07430, #c57c35, #ca853a, #ca853a, #ca853a, #ca853a, #c57c35, #c07430, #ba6b2b, #b56327);
    border-top: 3px outset #ca853a;
  }

  .unb-lib-logo {
    max-height: 42px;
  }
}
