// Emulate BS4 input-group + input-group-append on core .
div[data-drupal-selector="views-exposed-form-search-encyclopedia-page-1"] {
  form {
    display: table;
    width: 100%;

    & > div.form--inline > div {
      display: grid;
      margin-bottom: .25rem;
      margin-top: 0;

      @media (min-width: 992px) {
        display: table-cell;

        .form-search,
        input[name="query"] {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .form-submit {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .form--inline {
      display: table-row;

      .form-actions {
        margin-top: 0;
      }

      .form-item {
        float: none;
        margin-right: 0;
      }

      .form-item-query {
        vertical-align: bottom;
      }
      .form-text {
        margin-top: 0;
      }
    }

    // Apply glossary-like theming to search button.
    .btn-primary {
      background: $glossary-bg-color;
      border: 1px solid $widget-border-color;
      border-radius: .25rem;
      color: $glossary-link-fg-color;

      &:focus,
      &:hover {
        background: #715213;
        border-color: #846936;
        color: $white;
      }
    }
  }
}

input[data-drupal-selector="edit-status-value"] {
  margin: auto .25rem;
  transform: scale(1.5);

  & + label {
    font-size: larger;
  }
}
