form {
  .btn-primary {
    background: $glossary-bg-color;
    border: 1px solid #7b7469;
    border-radius: .25rem;
    color: $glossary-link-fg-color;

    &.btn-primary:focus,
    &.btn-primary:hover {
      background: #715213;
      border-color: #846936;
      color: $white;
    }
  }
}