/* Emulate sr-only class on search input label */
label[for="edit-query"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Apply glossary-like theming to Views pager buttons.
main .block-system-main-block .view .pager__item a:not([role="button"]) {
  background: $dark-red;
  border: 1px solid $widget-border-color;
  border-radius: .33rem;
  color: $white;
  padding: .4rem .65rem;

  &:focus,
  &:hover {
    background: $link-fg-color;
    box-shadow: none;
    color: $white;
  }
}

.view-content {
  .h3 {
    margin-bottom: .75rem;
  }

  .search-excerpt {
    line-height: 1.4;

    strong {
      color: $glossary-bg-color;
    }
  }
}
