// Apply glossary-like theming to Views pager buttons.
main .block-system-main-block .pager__item a:not([role="button"]) {
  background: $glossary-bg-color;
  border: 1px solid #7b7469;
  border-radius: .25rem;
  color: $glossary-link-fg-color;
  padding: .5rem;

  &:focus,
  &:hover {
    background: #715213;
    border-color: #846936;
    color: $white;
  }
}

.search-excerpt {
  line-height: 1.3;
}