// Apply glossary-like theming to Views pager buttons.
main .block-system-main-block .view .pager__item a:not([role="button"]) {
  background: $dark-red;
  border: 1px solid $widget-border-color;
  border-radius: .33rem;
  color: $white;
  padding: .4rem .65rem;

  &:focus,
  &:hover {
    background: $link-fg-color;
    color: $white;
  }
}

.search-excerpt {
  line-height: 1.35;

  strong {
    color: $glossary-bg-color;
  }
}